/* .navbar li .glyphicon {
  margin-right: 10px;
} */

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .nav-item .active,
.navbar .navbar-nav .nav-item .active :hover,
.navbar .navbar-nav .nav-item .active :focus {
  background-image: none;
  background-color: #4189c7;
  color: white;
}

@media (max-width: 767px) {
  .navbar .navbar-nav {
    padding: 10px 0px;
  }

  .nav-item a {
    padding: 0.5em 0.5em !important;
    border-radius: 4px;
  }
}

/* On large screens, convert the nav menu to a vertical sidebar */
@media (min-width: 768px) {
  .navbar {
    height: 100%;
    width: calc(25% - 20px);
    align-items: flex-start !important;
  }

  .navbar {
    border-radius: 0;
    border-width: 0;
    height: 100%;
  }

  .navbar .navbar-collapse {
    padding: 0;
  }

  .navbar .navbar-collapse {
    flex: 0 0 100% !important;
  }

  /* .navbar {
    padding: 0;
    margin: 0;
  } */

  /* .navbar  .container-fluid  .navbar-brand {
    margin: 0;
  } */

  .navbar div {
    flex: 0 0 100%;
  }

  .nav-item div {
    flex: 0 0 100%;
    font-size: 15px;
    margin: 6px;
  }

  .nav-item a {
    padding: 10px 16px;
    border-radius: 4px;
  }
  .nav-item a {
    width: 100%;
    /* white-space: nowrap; */
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-toggle {
    white-space: inherit;
  }
}
