@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}

html {
  font-size: 90%;
}

.table td {
  vertical-align: middle;
}

code.key {
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

section {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

div.tableToolbar {
  padding: 8px 3px;
  overflow: auto;
}

td.fill {
  width: 100%;
}

td.nowrap {
  white-space: nowrap;
}

/*


span.menu-sep {
  vertical-align: middle;
  padding: 0px 2px;
  color: #bbb;
}

button {
  white-space: nowrap;
}  */

/* see https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox */
.custom-switch {
  padding-left: 2.25rem;
  padding-bottom: 0.5rem;
}

.custom-control-label {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  height: 1.5rem;
  width: 3rem;
  pointer-events: all;
  border-radius: 1rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  background-color: #adb5bd;
  border-radius: 2rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.state-updating {
  /* background-color: #cce5ff !important; */
  opacity: 0.5;
}

amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}
