@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}

section {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

td.fill {
  width: 100%;
}

div.tableToolbar {
  padding: 10px;
  overflow: auto;
}
