@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}

html {
  font-size: 90%;
}

.table td {
  vertical-align: middle;
}

code.key {
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

section {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

div.tableToolbar {
  padding: 10px 14px;
  overflow: auto;
}

td.fill {
  width: 100%;
}

td.nowrap {
  white-space: nowrap;
}

/*


span.menu-sep {
  vertical-align: middle;
  padding: 0px 2px;
  color: #bbb;
}

button {
  white-space: nowrap;
}  */
